<h1>Listing users</h1>
<p id=”notice”><%= notice %></p>

<% if signed_in? %>
  <p>Hi, <%= current_user.name %></p>
<% else %>
  <p>Hi, there </p>
<% end %>

<table class="table table-striped">
<thead class="thead-dark">
    <th>Name</th>
    <th>Email</th>
    <th>Tokens</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.remember_token %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% if signed_in? %>
      <% if current_user.admin == true %>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<button class="btn btn-success"><%= link_to 'New User', new_user_path, {:class => 'white'}  %></button>
