<%# <h1>New user</h1>

<%= render 'form' 

<%= link_to 'Back', users_path %>

<% provide(:title, 'Sign up') %>
<div class="row">
    <div class="col-12 text-center">
        <h1>Sign up</h1>
    </div>
    <div style="margin: 0 auto;" class="col-lg-4 col-12">
        <%= form_for(@user) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, {:class => 'form-control'} %>

        <%= f.label :email %>
        <%= f.text_field :email, {:class => 'form-control'}  %>

        <%= f.label :password %>
        <%= f.password_field :password, {:class => 'form-control'}  %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, {:class => 'form-control'} %>

        <br />
        <br />
        
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
        <% end %>
  </div>
</div>
